/* element.style {
    --animate-duration: 1000ms;
    --animate-delay: 200ms;
}
@media (min-width: 992px) {
    .hero .hero_graphic {
        padding: 0 100px 0 0;
    }
}

@media (min-width: 768px) {
    .hero .hero_graphic {
        margin: 2rem auto 0;
        width: 50%;
    }
}
.hero .hero_graphic {
    margin: 4rem auto 2rem;
}
.animate__animated.animate__delay-1s {
    -webkit-animation-delay: 1s;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: 1s;
    animation-delay: var(--animate-delay);
}
.animate__slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.animate__animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: 1s;
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
* {
    box-sizing: border-box;
} */